/*.lm_content>div { height: 100%; width: 100% }*/
.lm_splitter.lm_horizontal .lm_drag_handle { left:-5px; width:15px }
.lm_splitter.lm_vertical .lm_drag_handle { top:-5px; height:15px }
#errorWindow { background: white; font-family: Courier,monospace; font-size: 12px; white-space: pre; overflow-y: scroll; }
#errorWindow>div { margin: 5px; }
#infoPanel { background: white; padding: 5px }
#parsedDataTree { background: white; overflow: auto; font-size: 12px; font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace }
#parsedDataTree .jstree-icon, #parsedDataTree .jstree-anchor { height: 16px; line-height: 16px }
#parsedDataTree .jstree-node { min-height: 16px; line-height: 16px; min-width:18px; margin-left:14px }
#parsedDataTree.jstree-default>.jstree-container-ul>.jstree-node { margin-left: 0 }
#parsedDataTree.jstree-default .jstree-ocl { background-position-y: -8px; width:18px; }
#fileDrop { display:none; font-family: Arial; position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0,0,0,0.8); z-index: 9999 }
#fileDrop>div { border:2px dashed white; border-radius:25px; width:500px; margin-left:-250px; height:120px; margin-top:-100px; position:fixed; top:50%; left:50%; color:white; text-align:center; font-size:22px; padding-top:65px }
#fileTree { font-family:Arial; font-size:12px }
body { line-height:normal }
#fileTree { overflow: auto }
#fileTree .jstree-node { margin-left: 14px }
#fileTree .jstree-container-ul>.jstree-node { margin-left:0 }
#fileTree .jstree-clicked { background:initial }
#fileTree .glyphicon { font-size:12px; margin-top:-1px; color:#eee; margin-right:3px }
#fileTree .jstree-icon { margin-left:3px; margin-right:5px }
#fileTree .jstree-ocl { display:none }