.hexViewer * { box-sizing: content-box }
.hexViewer { background: white; color: #333; font-family: Courier,monospace; font-size: 12px; overflow-y: scroll; overflow-x: auto }
.hexViewer .heightbox { height:10000px; background:blue; float:left }
.hexViewer .contentOuter {position: relative;height:100%; overflow: hidden; min-width:560px; outline: none !important }
.hexViewer .content { margin-left: 8px; }

.hexViewer { user-select: none; cursor: default }
.hexViewer .header { font-weight: bold;padding-top: 3px; background:#eee }
.hexViewer .header .hex { margin-left: 70px }
.hexViewer .header .ascii { margin-left: 8px }
.hexViewer .header .hex span { margin: 0 7.5px }
.hexViewer .header .hex .c8 { margin-left: 17px }

.hexViewer .selected { background:#0076e0; color:white }
.hexViewer .asciicell { padding: 2px 0 }

.hexViewer .hexRow { height:21px; }

.hexViewer .addrPart { color: #ccc; }
.hexViewer .hexPart { margin-left: 8px; }
.hexViewer .asciiPart { margin-left: 8px; }
.hexViewer .hexcell.cell8 { margin-left: 4px; }
.hexViewer .hexcell.cell7 { margin-right: 4px; }

.hexViewer span { display: inline-block; }
.hexViewer .hexcell { width: 14px; height:15px }
.hexViewer .l0, .hexViewer .l1, .hexViewer .l2 { margin-top: 1px; margin-bottom: 1px }
.hexViewer .m0 { margin-top: 0px; margin-bottom: 0px; border-width:1px 0; border-style:solid; border-color:white }
.hexViewer .hexPart>span { margin-top: 0px; margin-bottom: 0px; }
.hexViewer .start { margin-left:1px }
.hexViewer .end { margin-right:1px }

.hexViewer .l0.start { border-top-left-radius:  2px; border-bottom-left-radius:  2px }
.hexViewer .l0.end   { border-top-right-radius: 2px; border-bottom-right-radius: 2px }
.hexViewer .l1.start { border-top-left-radius:  3px; border-bottom-left-radius:  3px }
.hexViewer .l1.end   { border-top-right-radius: 3px; border-bottom-right-radius: 3px }
.hexViewer .l2.start { border-top-left-radius:  4px; border-bottom-left-radius:  4px }
.hexViewer .l2.end   { border-top-right-radius: 4px; border-bottom-right-radius: 4px }
.hexViewer .l3.start { border-top-left-radius:  5px; border-bottom-left-radius:  5px }
.hexViewer .l3.end   { border-top-right-radius: 5px; border-bottom-right-radius: 5px }
.hexViewer .l4.start { border-top-left-radius:  6px; border-bottom-left-radius:  6px }
.hexViewer .l4.end   { border-top-right-radius: 6px; border-bottom-right-radius: 6px }

.hexViewer .hexcell { padding: 0 4px }
.hexViewer .start .hexcell { padding: 0 3px }
.hexViewer .start .start .hexcell { padding: 0 2px }
.hexViewer .start .start .start .hexcell { padding: 0 1px }
.hexViewer .start .start .start .start .hexcell { padding: 0 1px }
.hexViewer .start .start .start .start .start .hexcell { padding: 0 0 }

.hexViewer .m0.odd  { background: #ddddff; }
.hexViewer .m0.even { background: #c4c4ff; }
.hexViewer .m1 { background: #dfd; }
.hexViewer .m2 { background: #fdd; }
.hexViewer .m3 { background: orange; }
.hexViewer .m4 { background: purple; }
/*.hexViewer .m0 .hexcell { color: white }*/
