body { line-height:normal }
.modal-body { padding:15px }
.btn { padding: 5px 10px; }

[data-scrollbar] .scrollbar-track-y, [data-scrollbar] .scrollbar-thumb { width:6px }
.lm_splitter.lm_horizontal .lm_drag_handle { width:9px; left:-2px }
[data-scrollbar] .scrollbar-track:hover { background: hsla(0, 0%, 25%, 0.75) }
.lm_item_container { background: #222222; position: relative }

#noscript, #unsupportedBrowser { background: #ffee00; z-index:999; position:fixed; left:0; right:0; padding:10px; text-align:center; border-bottom: 1px solid black; color:#333; }
#noscript a, #unsupportedBrowser a { color: black; text-decoration: underline }