.error-panel {
    background: #222222;
    color: #dc6f6f;
    padding: 10px;
    font-size: 14px;
    font-family: "JetBrains Mono";
    white-space: pre;
    text-wrap: auto;
    overflow-y: scroll;
}