<style>
    .dropdown { position: absolute; z-index:9999; top:0; left:0 }
    .dropdown-menu { z-index:9999 }
    .dropdown .dropdown-menu { font-size:13px; border-color:#375a7f; border-radius:0 }
    .dropdown .glyphicon { margin-right:5px; }
    .dropdown .glyphicon-folder-open { margin-left:-1px; margin-right:6px }
    .dropdown .dropdown-menu>li>a { padding:3px 15px }
</style>

<template id="ContextMenu">
    <div class="dropdown clearfix" v-if="visible" v-bind:style="{ top: top, left: left }">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
            <slot :item="item"></slot>
        </ul>
    </div>
</template>

<template id="MenuItem">
    <li :class="{ disabled: !enabled, 'dropdown-submenu': this.$slots.submenu }">
        <a tabindex="-1" href="#" @click="click">
            <i class="glyphicon" :class="icon"></i>
            <slot></slot>
        </a>
        <ul class="dropdown-menu" v-if="this.$slots.submenu">
            <slot name="submenu"></slot>
        </ul>
    </li>
</template>