[submodule "formats"]
	path = formats
	url = git@github.com:kaitai-io/kaitai_struct_formats.git
[submodule "lib/kaitai_js_runtime"]
	path = lib/kaitai_js_runtime
	url = git@github.com:kaitai-io/kaitai_struct_javascript_runtime.git
