<!DOCTYPE html>
<html>
<head>
    <title>Github test</title>
	<meta charset="utf-8" />
    <script src="lib/jquery/jquery-3.1.1.min.js"></script>
    <script src="js/autorefresh.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.js"></script>
    <script src="js/utils.js"></script>
    <script src="out/js/kaitaiFsFiles.js"></script>
</head>
<body>
hello66

<style>
    #tree {
        background: red;
        width: 200px;
    }
    #tree .item {
        cursor: pointer;
    }
    #tree .bold {
        font-weight: bold;
    }
    #tree ul {
        padding-left: 1em;
        line-height: 1.5em;
        list-style-type: dot;
    }
</style>
    
<script type="text/x-template" id="treeView-template">
    <ul>
        <template v-for="child in model.children">
            <tree-view-item :model="child"></tree-view-item>
        </template>
    </ul>
</script>

<script type="text/x-template" id="treeViewItem-template">
    <li class="item">
        <div :class="{bold: isFolder}" @click="toggle">
            {{model.text}}
            <span v-if="isFolder">[{{model.open ? '-' : '+'}}]</span>
        </div>
        <template v-if="model.open">
            <ul v-for="model in model.children">
                <tree-view-item :model="model"></tree-view-item>
            </ul>
        </template>
    </li>
</script>
    
<div id="tree">
    <tree-view :model="treeData"></tree-view>    
</div>
<div id="app"></div>

<script>
    var paths = {};
    ["bowser", "jstree", "localforage", "goldenlayout", "knockout", "knockout-es5", "vue", "vue-class-component"].forEach(
        name => paths[name] = `/lib/${name}/${name}`);

    requirejs.config({ baseUrl: 'js/', paths: paths });
    require(['sandbox']);
</script>
</body>
</html>
