<style>
    .selectionInput .form-control { color: #eee; background-color: #464545; display:initial; width: initial; float:initial; height: 30px }
    .selectionInput .input-group { display:initial; margin-left:6px }
    .selectionInput .input-group-addon { display:inline-block; padding:0; vertical-align: top; height:30px; line-height:28px; width:initial }
    .selectionInput .selStart { padding-right:4px }
    .selectionInput .selEnd { padding-left:6px }
    .selectionInput input.form-control { width: 30px }
    .selectionInput .inputSizeElement { display:none }
</style>

<template id="SelectionInputPart">
    <input type="text" class="form-control" v-model="value" 
           @focus="focused=true" @blur="focused=false"
           :style="{ width: width + 20 + 'px' }">
</template>

<template id="SelectionInput">
    <div class="selectionInput">
        <span class="selectionText">{{ hasSelection ? "selection:" : "no selection" }}</span>
        <span class="selGroup input-group">
            <selection-input-part ref="startPart" class="selStart"></selection-input-part><!--nobr-->
            <span class="input-group-addon">-</span><!--nobr-->
            <selection-input-part ref="endPart" class="selEnd"></selection-input-part>
        </span>
    </div>
</template>