<style>
    .selectionInput { font-size: 15px }
    .selectionInput .form-control { color: #eee; background-color: #464545; display:initial; width: initial; float:initial; height: 30px }
    .selectionInput .input-group { display:initial; margin-left:6px }
    .selectionInput .input-group-addon { display:inline-block; padding:0; vertical-align: top; height:30px; line-height:28px; width:initial }
    .selectionInput .form-control { padding: 6px 12px }
    .selectionInput .selStart { padding-right:4px }
    .selectionInput .selEnd { padding-left:6px }
    .selectionInput input.form-control { width: 30px }
</style>

<template id="SelectionInputPart">
    <input type="text" v-model="text"
           class="form-control" :style="{ width: width + 20 + 'px' }"
           @focus="focused=true" @blur="focused=false"
           @keydown.up.prevent="move(+1)" @keydown.down.prevent="move(-1)">
</template>

<template id="SelectionInput">
    <div class="selectionInput">
        <span>{{ hasSelection ? "selection:" : "no selection" }}</span>
        <span class="input-group">
            <selection-input-part ref="startPart" class="selStart"></selection-input-part><!--nobr-->
            <span class="input-group-addon">-</span><!--nobr-->
            <selection-input-part ref="endPart" class="selEnd"></selection-input-part>
        </span>
    </div>
</template>