<style>
    .treeViewRoot { background: #333; color: #999; 
        text-shadow: 1px 1px 0 rgba(0,0,0,.5); margin-bottom:0;
        user-select:none; -moz-user-select:none; 
        position:relative; overflow-y:auto; overflow-x:hidden; height:100%; width:100%; outline:0; }
    .treeView li { cursor: pointer; }
    .treeView li a { display:inline-block; position:relative; }
    .treeView a { white-space:nowrap; color: #d8d8d8; }
    .treeView a:hover { text-decoration:none; }
    .treeView .selected>a { color:white; }
    .treeView .header:hover a { color:white; }
    .treeView .header a { padding-left: 8px }
    .treeView .header:hover .wholerow { background:#666; }
    .treeView .header.selected>.wholerow { background:rgba(95, 162, 219, 1); }
    .treeView .wholerow { position: absolute; left: 0; width:100%; transition: background-color 0.15s, box-shadow 0.15s; }
    .treeView .bold { font-weight: bold; }
    .treeView ul { padding-left:0; line-height: 1.5em; list-style-type: none; }
    .treeViewRoot ul { padding-left: 10px }
    @keyframes loading-indicator-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
    .treeView .loading_icon {
        background-image: linear-gradient(transparent, transparent), url(css/loading.svg);
        background-size: 100%;
        animation-name: loading-indicator-spin;
        animation-duration: 0.75s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        backface-visibility: hidden;
        display:inline-block; position:relative; top:3px; left:5px; height: 13px; width: 13px;
    }
    .treeView i.loadingFailed { color:#ffd400; position:relative; top:1px; left:1px }
    .treeView .nodeText { margin-left:4px; }
    .treeView i { vertical-align: text-top; }
    ul.treeView { margin:0 }

    .treeView .tooltip.top .tooltip-arrow { border-top-color: #eee }
    .treeView .tooltip-inner { background-color:#eee; color:black; box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.5) }
    .treeView .noitems { margin-left: 12px; font-style: italic; }
</style>

<template id="TreeView">
    <div class="treeView">
        <ul class="treeViewRoot" tabindex="0" v-if="model" @keydown.right.prevent="openSelected" @keydown.left.prevent="closeSelected" 
            @keydown.down.prevent="selectNode('next')" @keydown.up.prevent="selectNode('prev')"
            @keydown.pagedown.prevent="selectNode('next', true)" @keydown.pageup.prevent="selectNode('prev', true)">
            <template v-for="child in model.children">
                <tree-view-item :model="child">
                    <template scope="_">
                        <slot :vm="_.vm" :model="_.model"><a>{{_.model.text}}</a></slot>
                    </template>
                </tree-view-item>
            </template>
        </ul>
    </div>
</template>

<template id="TreeViewItem">
    <li>
        <div class="header" :class="{selected: selected}" @click="click" @dblclick="dblclick" @contextmenu.prevent="contextmenu">
            <div class="wholerow" v-if="treeView.wholeRow">&nbsp;</div>
            <slot :vm="this" :model="model"></slot>
            <div v-if="childrenLoading" class="loading_icon"></div> 
            <i v-if="loadingError" class="loadingFailed fa fa-exclamation-triangle" 
                :title="loadingError" data-toggle="tooltip"></i>                 
        </div>
        <ul v-for="child in model.children" v-show="open">
            <tree-view-item :model="child" treeView="this">
                <template scope="_">
                    <slot :vm="_.vm" :model="_.model"></slot>
                </template>
            </tree-view-item>
        </ul>
        <div class="noitems" v-if="model.hasChildren && model.children && model.children.length === 0 && open">
            empty
        </div>
    </li>
</template>