<style>
    .parsedTree .treeView { 
        font: 11px/normal "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
    }
    .parsedTree .intVal, #parsedDataTree .enumDesc { color:#888 }
    .parsedTree .propName { color: #9090ff; }
    .parsedTree .className { color: #7fff7f; }
    .parsedTree .primitiveValue { font-weight: bold }
    .parsedTree .treeView .header.selected>.wholerow { background:rgb(86, 86, 86); }
    .parsedTree .repr-value { color: white; }
    .parsedTree .repr-text { color: #aaa; }
</style>

<template>
    <div class="parsedTree" style="height: 100%; background:#333">
        <tree-view :model="rootNode" style="height: 100%" :whole-row="true" ref="treeView">
            <template scope="_">
                <a>
                    {{ _.model.hasChildren ? (_.vm.open ? "V" : ">") : "" }}
                    <template v-if="_.model.nodeType === 'LazyArray'">
                        [{{_.model.from}} … {{_.model.to}}]
                    </template>
                    <template v-else-if="_.model.isUnloadedInstance">
                        {{_.model.name}}
                    </template>
                    <template v-else>
                        <template v-if="_.model.value.type === 'Object'">
                            {{_.model.name}}
                            [<span class="className">{{_.model.value.object.class}}</span>]<!--nobr-->
                            <template v-if="_.model.value.representation.length > 0"><!--nobr-->
                                :
                                <template v-for="item in _.model.value.representation"><!--nobr-->
                                    <span class="repr-text" v-if="item.type === 'text'">{{item.value}}</span><!--nobr-->
                                    <span class="repr-value" v-if="item.type === 'value'">{{item.value}}</span><!--nobr-->
                                </template>
                            </template>
                        </template>
                        <template v-else-if="_.model.value.type === 'Array'">
                            {{_.model.name}}
                            ({{_.model.value.arrayLength}})
                        </template>
                        <template v-else-if="_.model.value.type === 'TypedArray'">
                            <span class="propName">{{_.model.name}}</span>
                            = {{_.model.bytesPreview}}
                        </template>
                        <template v-else>
                            <span class="propName">{{_.model.name}}</span>
                            =
                            <template if="_.model.value.type === 'Primitive'">
                                <template v-if="_.model.value.enumStringValue"><!--nobr-->
                                    {{_.model.value.enumStringValue}}
                                    <span class="intVal">
                                        ({{_.model.hexStrValue}} = {{_.model.value.primitiveValue}})
                                    </span><!--nobr-->
                                </template><!--nobr-->
                                <template v-else-if="Number.isInteger(_.model.value.primitiveValue)"><!--nobr-->
                                    {{_.model.hexStrValue}}<!--nobr-->
                                    <span class="intVal"> = {{_.model.value.primitiveValue}}</span><!--nobr-->
                                </template><!--nobr-->
                                <template v-else><!--nobr-->
                                    {{_.model.value.primitiveValue}}<!--nobr-->
                                </template><!--nobr-->
                            </template>
                        </template>
                        <i v-if="_.model.value.exception" class="loadingFailed fa fa-exclamation-triangle" 
                            :title="_.model.exceptionText" data-toggle="tooltip"></i>                 
                    </template>
                </a>
            </template>
        </tree-view>
    </div>
</template>